body {
	overflow-x: hidden;
}
nav.menu {
	transition: all 0.3s;
}
nav.menu {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0px;
	background-color: black;
	width: 300px;
	padding: 30px 0px;
	height: 100%;
}
nav.menu ul {
	margin: 0;
	padding: 0;
}
nav.menu ul li {
	display: block;
	height: 100%;
	width: auto;
	padding: 0;
	margin: 0;
	text-align: center;
	padding: 10px;
}
nav.menu ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: "Oswald";
}
#mask {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
#container {
	position: relative;
	transition: all 0.3s;
	z-index: 10;
}
#container h3 {
	text-align: center;
}
body.pml-open nav.push-menu-left {
	left: 0px;
}
body nav.push-menu-left {
	left: -300px;
}
body.pml-open #container {
	left: 300px;
}
body #container {
	left: 0px;
}